:root{
    --main-search-height: 60px;
}

.btn:focus, .form-control:focus {
    box-shadow: none;
}

input[type="text"], textarea {
    outline: none;
    box-shadow: none;
    border: 1px solid #2ca513 !important;
}

.search-section{
    height: var(--main-search-height);
    background-color: #f3f3f3;
}

.search-section-container{
    padding: 0 10%;
}

form input.error{
    border: 2px solid red !important;
}